@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Limelight&display=swap");
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card .card-info, .contenedor-index main .estrenos .estrenos-carousel, .contenedor-index main .cartelera .cartelera-galeria .ver-mas, .contenedor-index main .cartelera .cartelera-galeria .card .card-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-comidas main .seccion-comida .productos .producto .producto-descripcion button, .contenedor-comidas main .seccion-comida .combos .combo .combo-descripcion button, .contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card .card-info button, .contenedor-index main .cartelera .cartelera-galeria .card .card-info button {
  padding: 5px 20px;
  background-color: #e50914;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.contenedor-contacto main .seccion-contacto .formulario .input-enviar, .contenedor-cines main .seccion-cines button, .contenedor-peliculas main .seccion-peliculas button {
  display: block;
  padding: 3px 20px;
  border: solid 2px #e50914;
  background-color: transparent;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*ESTILOS DEL HEADER*/
header {
  width: 100%;
  grid-area: header;
  background: linear-gradient(180deg, #221f1f 10%, #292f33 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  width: 12%;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .logo span {
  font-family: "Limelight", cursive;
  color: #fff;
  font-size: 30px;
  text-shadow: 4px 4px 2px #e50914;
}
header .logo span:hover {
  color: #e50914;
}
header #icon-menu {
  display: none;
}
header label {
  display: none;
}
header label img {
  width: 35px;
  height: 35px;
}
header nav {
  width: 63%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}
header nav ul li a {
  padding: 10px 0;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
header nav ul li a:hover {
  border-bottom: 2.5px solid #e50914;
  color: #e50914;
}

/*ESTILOS DEL FOOTER*/
footer {
  width: 100%;
  grid-area: footer;
  background-color: #221f1f;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-wrap: wrap;
}
footer .footer-informacion {
  width: 40%;
  padding: 20px 0;
}
footer .footer-informacion ul li {
  list-style: none;
  color: #fff;
  margin: 20px 0;
}
footer .footer-redes {
  width: 40%;
}
footer .footer-redes .siguenos {
  color: #fff;
  padding: 20px 0;
}
footer .footer-redes .siguenos p {
  margin: 20px 0 10px 0;
}
footer .footer-redes .siguenos img {
  margin-right: 20px;
  cursor: pointer;
}
footer .footer-redes .libro p {
  color: #fff;
}
footer .footer-redes .libro img {
  margin: 5px 0;
}
footer .footer-desarrollador {
  width: 80%;
  border-top: 1px solid #7e7e7e;
}
footer .footer-desarrollador p {
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin: 20px 0;
}

/*ESTILOS DE LA PAGINA PRINCIPAL*/
.contenedor-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px auto auto;
  grid-template-areas: "header" "main" "footer";
}
.contenedor-index main {
  grid-area: main;
  background-color: #292f33;
}
.contenedor-index main .banner {
  width: 100%;
  overflow: hidden;
}
.contenedor-index main .banner ul {
  display: flex;
  width: 400%;
  animation: cambio 20s infinite alternate;
}
.contenedor-index main .banner ul li {
  width: 100%;
  list-style: none;
}
.contenedor-index main .banner ul li img {
  width: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.contenedor-index main .cartelera {
  width: 75%;
  margin: 0 auto 70px auto;
}
.contenedor-index main .cartelera h2 {
  color: #fff;
  margin: 70px 0 30px 0;
  text-align: center;
  font-size: 24px;
}
.contenedor-index main .cartelera .cartelera-galeria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 260px;
  gap: 10px;
}
.contenedor-index main .cartelera .cartelera-galeria img, .contenedor-index main .cartelera .cartelera-galeria .ver-mas, .contenedor-index main .cartelera .cartelera-galeria .cartelera-opcion {
  width: 100%;
  height: 100%;
}
.contenedor-index main .cartelera .cartelera-galeria .card-1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.contenedor-index main .cartelera .cartelera-galeria .card {
  height: 100%;
  background-image: url(../img/cartelera1.jpg);
  background-size: 100% 100%;
  background-position: center center;
  transition: transform 0.2s;
}
.contenedor-index main .cartelera .cartelera-galeria .card .card-info {
  height: 100%;
  text-align: center;
  flex-direction: column;
  color: #fff;
  opacity: 0;
  transition: all 0.2s;
}
.contenedor-index main .cartelera .cartelera-galeria .card .card-info p {
  font-size: 18px;
  padding: 0 20px 40px 20px;
}
.contenedor-index main .cartelera .cartelera-galeria .card .card-info button {
  margin-top: 10px;
}
.contenedor-index main .cartelera .cartelera-galeria .card .card-info button:hover {
  background-color: #be0000;
}
.contenedor-index main .cartelera .cartelera-galeria .card-2 {
  background-image: url(../img/cartelera2.jpg);
}
.contenedor-index main .cartelera .cartelera-galeria .card-3 {
  background-image: url(../img/cartelera3.jpg);
}
.contenedor-index main .cartelera .cartelera-galeria .card-4 {
  background-image: url(../img/cartelera4.jpg);
}
.contenedor-index main .cartelera .cartelera-galeria .card-5 {
  background-image: url(../img/cartelera5.jpg);
}
.contenedor-index main .cartelera .cartelera-galeria .card-6 {
  background-image: url(../img/cartelera6.jpg);
}
.contenedor-index main .cartelera .cartelera-galeria .card-7 {
  background-image: url(../img/cartelera7.jpg);
}
.contenedor-index main .cartelera .cartelera-galeria .card-8 {
  background-image: url(../img/cartelera8.jpg);
}
.contenedor-index main .cartelera .cartelera-galeria .card-9 {
  background-image: url(../img/cartelera9.jpg);
}
.contenedor-index main .cartelera .cartelera-galeria .card:hover {
  transform: scale(1.05);
}
.contenedor-index main .cartelera .cartelera-galeria .card:hover .card-info {
  background-color: #64727c73;
  opacity: 1;
}
.contenedor-index main .cartelera .cartelera-galeria .ver-mas {
  height: 100%;
  width: 100%;
  background-image: none;
  background-color: #49535a;
  text-align: center;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.contenedor-index main .cartelera .cartelera-galeria .ver-mas:hover {
  text-shadow: 0 0 10px #e50914;
}
.contenedor-index main .estrenos {
  margin-bottom: 70px;
}
.contenedor-index main .estrenos h2 {
  color: #fff;
  margin: 70px 0 30px 0;
  text-align: center;
  font-size: 24px;
}
.contenedor-index main .estrenos .estrenos-carousel .flecha-izquierda, .contenedor-index main .estrenos .estrenos-carousel .flecha-derecha {
  width: 20px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria {
  width: 75%;
  display: flex;
  gap: 1%;
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card {
  width: 19.2%;
  height: 270px;
  background-size: 100% 100%;
  background-position: center center;
  transition: transform 0.2s;
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card .card-info {
  height: 100%;
  text-align: center;
  flex-direction: column;
  color: #fff;
  opacity: 0;
  transition: all 0.2s;
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card .card-info p {
  font-size: 18px;
  padding: 0 20px 40px 20px;
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card .card-info button {
  margin-top: 10px;
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card .card-info button:hover {
  background-color: #be0000;
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card:hover {
  transform: scale(1.05);
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card:hover .card-info {
  background-color: #64727c73;
  opacity: 1;
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .estrenos-card-1 {
  background-image: url(../img/estreno1.jpg);
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .estrenos-card-2 {
  background-image: url(../img/estreno2.jpg);
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .estrenos-card-3 {
  background-image: url(../img/estreno3.jpg);
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .estrenos-card-4 {
  background-image: url(../img/estreno4.jpg);
}
.contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .estrenos-card-5 {
  background-image: url(../img/estreno5.jpg);
}

.contenedor-peliculas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px auto auto;
  grid-template-areas: "header" "main" "footer";
}
.contenedor-peliculas main {
  grid-area: main;
  background-color: #292f33;
}
.contenedor-peliculas main .seccion-peliculas {
  width: 75%;
  margin: auto;
  color: #fff;
}
.contenedor-peliculas main .seccion-peliculas h1 {
  margin: 70px 0 30px 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.contenedor-peliculas main .seccion-peliculas .peliculas-lista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 30px 20px;
  margin-bottom: 70px;
  padding-top: 50px;
  border-top: 2px solid #e50914;
}
.contenedor-peliculas main .seccion-peliculas .peliculas-lista .pelicula {
  text-align: center;
}
.contenedor-peliculas main .seccion-peliculas .peliculas-lista .pelicula img {
  width: 100%;
  transition: transform 0.2s ease-in-out;
}
.contenedor-peliculas main .seccion-peliculas .peliculas-lista .pelicula p:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
}
.contenedor-peliculas main .seccion-peliculas .peliculas-lista .pelicula p:last-child {
  font-size: 14px;
}
.contenedor-peliculas main .seccion-peliculas .peliculas-lista .pelicula:hover img {
  transform: scale(1.05);
  box-shadow: 0 0 10px 0 #d1ecff91;
}
.contenedor-peliculas main .seccion-peliculas button {
  margin: 0 auto 50px auto;
}
.contenedor-peliculas main .seccion-peliculas button:hover {
  background-color: #e50914;
}

.contenedor-cines {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px auto auto;
  grid-template-areas: "header" "main" "footer";
}
.contenedor-cines main {
  grid-area: main;
  background-color: #292f33;
}
.contenedor-cines main .seccion-cines {
  width: 75%;
  margin: auto;
  color: #fff;
}
.contenedor-cines main .seccion-cines h1 {
  margin: 70px 0 30px 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.contenedor-cines main .seccion-cines .cines {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px 15px;
  padding-top: 50px;
  border-top: 2px solid #e50914;
}
.contenedor-cines main .seccion-cines .cines .cine h2 {
  margin-left: 10px;
}
.contenedor-cines main .seccion-cines .cines .cine img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.contenedor-cines main .seccion-cines .cines .cine p {
  margin-left: 10px;
}
.contenedor-cines main .seccion-cines button {
  margin: 50px auto 50px auto;
}
.contenedor-cines main .seccion-cines button:hover {
  background-color: #e50914;
}

.contenedor-comidas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px auto auto;
  grid-template-areas: "header" "main" "footer";
}
.contenedor-comidas main {
  grid-area: main;
  background-color: #292f33;
}
.contenedor-comidas main .seccion-comida {
  width: 75%;
  margin: auto;
}
.contenedor-comidas main .seccion-comida h1 {
  margin: 70px 0 30px 0;
  text-align: center;
  font-size: 24px;
  color: #fff;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 2px solid #e50914;
}
.contenedor-comidas main .seccion-comida h2 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
}
.contenedor-comidas main .seccion-comida .combos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin-bottom: 50px;
}
.contenedor-comidas main .seccion-comida .combos .combo {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #394042;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  font-size: 15px;
}
.contenedor-comidas main .seccion-comida .combos .combo img {
  width: 40%;
  border-radius: 10px;
}
.contenedor-comidas main .seccion-comida .combos .combo .combo-descripcion p {
  margin-bottom: 10px;
}
.contenedor-comidas main .seccion-comida .productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin-bottom: 50px;
}
.contenedor-comidas main .seccion-comida .productos .producto {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #394042;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  font-size: 15px;
}
.contenedor-comidas main .seccion-comida .productos .producto img {
  width: 40%;
  border-radius: 10px;
}
.contenedor-comidas main .seccion-comida .productos .producto .producto-descripcion p {
  margin-bottom: 10px;
}
.contenedor-contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px auto auto;
  grid-template-areas: "header" "main" "footer";
}
.contenedor-contacto main {
  grid-area: main;
  background-color: #292f33;
}
.contenedor-contacto main .seccion-contacto {
  width: 75%;
  margin: 0 auto 50px auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-wrap: wrap;
}
.contenedor-contacto main .seccion-contacto h1 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin: 70px 0 30px 0;
  color: #fff;
}
.contenedor-contacto main .seccion-contacto .formulario {
  width: 48%;
}
.contenedor-contacto main .seccion-contacto .formulario .input {
  width: 100%;
  margin-bottom: 14px;
}
.contenedor-contacto main .seccion-contacto .formulario .input-enviar:hover {
  background-color: #e50914;
}
.contenedor-contacto main .seccion-contacto .ubicacion {
  width: 48%;
}
.contenedor-contacto main .seccion-contacto .ubicacion iframe {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  header {
    height: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  header .logo {
    width: 50%;
    margin-left: 50px;
  }
  header label {
    margin-right: 50px;
    display: block;
    cursor: pointer;
  }
  header label img {
    display: block;
    margin: 10px;
  }
  header label:hover {
    background-color: #5f5f5f;
  }
  header nav {
    margin-left: -100%;
    position: absolute;
    top: 70px;
    background-color: #292f33;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  header nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  header nav ul li {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #686868;
  }
  header nav ul li a {
    padding: 4px 0;
  }
  header nav ul li:hover {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    cursor: pointer;
  }
  header nav ul li:hover + li {
    border-top: none;
  }
  header nav ul li:hover a {
    color: #e50914;
    border: none;
  }
  header #icon-menu:checked ~ nav {
    margin-left: 0;
  }

  .contenedor-index {
    grid-template-rows: auto auto auto;
  }
  .contenedor-index main .cartelera .cartelera-galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
  }
  .contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card {
    width: 24%;
    height: 250px;
    margin-bottom: 10px;
  }

  .contenedor-peliculas {
    grid-template-rows: auto auto auto;
  }
  .contenedor-peliculas main .seccion-peliculas .peliculas-lista {
    grid-template-columns: repeat(3, 1fr);
  }
  .contenedor-peliculas main .seccion-peliculas .peliculas-lista .pelicula img {
    width: 90%;
    margin: auto;
  }

  .contenedor-cines {
    grid-template-rows: auto auto auto;
  }
  .contenedor-cines main .seccion-cines .cines {
    grid-template-columns: repeat(2, 1fr);
  }

  .contenedor-comidas {
    grid-template-rows: auto auto auto;
  }
  .contenedor-comidas main .seccion-comida .combos .combo img {
    width: 50%;
  }
  .contenedor-comidas main .seccion-comida .combos .combo .combo-descripcion {
    font-size: 14px;
  }
  .contenedor-comidas main .seccion-comida .combos .combo .combo-descripcion button {
    padding: 2px 20px;
  }
  .contenedor-comidas main .seccion-comida .productos {
    grid-template-columns: repeat(2, 1fr);
  }
  .contenedor-comidas main .seccion-comida .productos .producto .producto-descripcion {
    font-size: 14px;
  }
  .contenedor-comidas main .seccion-comida .productos .producto .producto-descripcion button {
    padding: 2px 20px;
  }

  .contenedor-contacto {
    grid-template-rows: auto auto auto;
  }
  .contenedor-contacto main .seccion-contacto {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .contenedor-contacto main .seccion-contacto .formulario {
    width: 450px;
  }
  .contenedor-contacto main .seccion-contacto .formulario .input-enviar {
    margin: auto;
  }
  .contenedor-contacto main .seccion-contacto .ubicacion {
    width: 450px;
  }
}
@media screen and (max-width: 768px) {
  header .logo {
    margin-left: 30px;
  }
  header label {
    margin-right: 20px;
  }

  .contenedor-index main .cartelera .cartelera-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
  .contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card {
    width: 32%;
    height: 250px;
  }

  .contenedor-peliculas main .seccion-peliculas .peliculas-lista {
    grid-template-columns: repeat(2, 1fr);
  }
  .contenedor-peliculas main .seccion-peliculas .peliculas-lista .pelicula img {
    width: 80%;
    margin: auto;
  }

  .contenedor-cines main .seccion-cines .cines {
    grid-template-columns: 1fr;
  }
  .contenedor-cines main .seccion-cines .cines .cine {
    text-align: center;
  }
  .contenedor-cines main .seccion-cines .cines .cine img {
    display: block;
    max-width: 400px;
    margin: 5px auto 5px auto;
  }

  .contenedor-comidas main .seccion-comida .combo {
    flex-direction: column;
  }
  .contenedor-comidas main .seccion-comida .combo img {
    width: 70%;
  }
  .contenedor-comidas main .seccion-comida .combo .combo-descripcion {
    text-align: center;
  }
  .contenedor-comidas main .seccion-comida .combo .combo-descripcion button {
    margin: auto;
  }
  .contenedor-comidas main .seccion-comida .producto {
    flex-direction: column;
  }
  .contenedor-comidas main .seccion-comida .producto img {
    width: 70%;
  }
  .contenedor-comidas main .seccion-comida .producto .producto-descripcion {
    text-align: center;
  }
  .contenedor-comidas main .seccion-comida .producto .producto-descripcion button {
    margin: auto;
  }

  .contenedor-contacto main .seccion-contacto .formulario {
    max-width: 100%;
  }
  .contenedor-contacto main .seccion-contacto .ubicacion {
    max-width: 100%;
  }

  footer .footer-informacion {
    font-size: 14px;
  }
  footer .footer-redes {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .contenedor-index main .cartelera .cartelera-galeria {
    grid-auto-rows: 250px;
  }
  .contenedor-index main .estrenos .estrenos-carousel .estrenos-galeria .card {
    width: 48%;
    height: 230px;
  }

  .contenedor-peliculas main .seccion-peliculas h1 {
    font-size: 18px;
  }
  .contenedor-peliculas main .seccion-peliculas .peliculas-lista {
    grid-template-columns: 1fr;
  }
  .contenedor-peliculas main .seccion-peliculas .peliculas-lista .pelicula img {
    width: 50%;
    min-width: 200px;
  }
  .contenedor-peliculas main .seccion-peliculas .peliculas-lista .pelicula p:nth-child(2) {
    font-weight: bold;
    font-size: 14px;
  }
  .contenedor-peliculas main .seccion-peliculas .peliculas-lista .pelicula p:last-child {
    font-size: 12px;
  }

  .contenedor-cines main .seccion-cines h1 {
    font-size: 18px;
  }
  .contenedor-cines main .seccion-cines .cines .cine h2 {
    font-size: 18px;
  }
  .contenedor-cines main .seccion-cines .cines .cine p {
    font-size: 14px;
  }
  .contenedor-cines main .seccion-cines button {
    font-size: 14px;
  }

  .contenedor-comidas main .seccion-comida h1, .contenedor-comidas main .seccion-comida h2 {
    font-size: 18px;
  }
  .contenedor-comidas main .seccion-comida .combos {
    grid-template-columns: 1fr;
  }
  .contenedor-comidas main .seccion-comida .combos .combo img {
    width: 40%;
  }
  .contenedor-comidas main .seccion-comida .productos {
    grid-template-columns: 1fr;
  }
  .contenedor-comidas main .seccion-comida .productos .producto img {
    width: 40%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-informacion {
    width: 70%;
    text-align: center;
  }
  footer .footer-redes {
    width: 70%;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
