.contenedor-cines {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    
    main {
        grid-area: main;
        background-color: $background-color;
        
        .seccion-cines {
            width: 75%;
            margin: auto;
            color: $secondary-color;
            
            h1 {
                margin: map-get($titulos, margen);
                text-align: map-get($titulos, centro);
                font-size: map-get($titulos, tamanio-h1);
                color: map-get($titulos, color);
            }
            
            .cines {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                gap: 50px 15px;
                padding-top: 50px;
                border-top: 2px solid $primary-color;
    
                .cine {
                    h2 {
                        margin-left: 10px;
                    }
                    img{
                        width: 100%;
                        object-fit: cover;
                        cursor: pointer;
                    }
                    p {
                        margin-left: 10px
                    }
                }
            }
            
            button {
                @extend %section-button;
                margin: 50px auto 50px auto;
            }

            button:hover {
                background-color: $primary-color;
            }
        }
    }
}